<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.system.DepMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.system.Dep" >
    <id column="temp_dep_dep_id" property="depId" jdbcType="VARCHAR" />
    <result column="temp_dep_cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="temp_dep_en_name" property="enName" jdbcType="VARCHAR" />
    <result column="temp_dep_parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="temp_dep_order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="temp_dep_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_dep_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_dep_create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_dep.dep_id as temp_dep_dep_id, temp_dep.cn_name as temp_dep_cn_name, temp_dep.en_name as temp_dep_en_name, 
    temp_dep.parent_id as temp_dep_parent_id, temp_dep.order_num as temp_dep_order_num, 
    temp_dep.remark as temp_dep_remark, temp_dep.creater as temp_dep_creater, temp_dep.create_time as temp_dep_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.system.DepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dep temp_dep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_dep temp_dep
    where temp_dep.dep_id = #{depId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_dep
    where dep_id = #{depId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.system.DepExample" >
    delete temp_dep from t_dep temp_dep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.system.Dep" >
    insert into t_dep (dep_id, cn_name, en_name, 
      parent_id, order_num, remark, 
      creater, create_time)
    values (#{depId,jdbcType=VARCHAR}, #{cnName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.system.Dep" >
    insert into t_dep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="cnName != null" >
        cn_name,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        #{depId,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.system.DepExample" resultType="java.lang.Integer" >
    select count(*) from t_dep temp_dep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dep temp_dep
    <set >
      <if test="record.depId != null" >
        temp_dep.dep_id = #{record.depId,jdbcType=VARCHAR},
      </if>
      <if test="record.cnName != null" >
        temp_dep.cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.enName != null" >
        temp_dep.en_name = #{record.enName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        temp_dep.parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        temp_dep.order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        temp_dep.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_dep.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_dep.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dep temp_dep
    set temp_dep.dep_id = #{record.depId,jdbcType=VARCHAR},
      temp_dep.cn_name = #{record.cnName,jdbcType=VARCHAR},
      temp_dep.en_name = #{record.enName,jdbcType=VARCHAR},
      temp_dep.parent_id = #{record.parentId,jdbcType=VARCHAR},
      temp_dep.order_num = #{record.orderNum,jdbcType=INTEGER},
      temp_dep.remark = #{record.remark,jdbcType=VARCHAR},
      temp_dep.creater = #{record.creater,jdbcType=VARCHAR},
      temp_dep.create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.system.Dep" >
    update t_dep
    <set >
      <if test="cnName != null" >
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.system.Dep" >
    update t_dep
    set cn_name = #{cnName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where dep_id = #{depId,jdbcType=VARCHAR}
  </update>
</mapper>