<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.basicdatas.ParameterCarrierCarTypeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.basicdatas.ParameterCarrierCarType" >
    <id column="temp_parameter_carrier_car_type_cartype_id" property="cartypeId" jdbcType="VARCHAR" />
    <result column="temp_parameter_carrier_car_type_cartype_name" property="cartypeName" jdbcType="VARCHAR" />
    <result column="temp_parameter_carrier_car_type_status" property="status" jdbcType="CHAR" />
    <result column="temp_parameter_carrier_car_type_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_parameter_carrier_car_type_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_parameter_carrier_car_type_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_parameter_carrier_car_type_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_parameter_carrier_car_type_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  	<result column="temp_parameter_carrier_car_type_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_parameter_carrier_car_type_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_parameter_carrier_car_type.cartype_id as temp_parameter_carrier_car_type_cartype_id, 
    temp_parameter_carrier_car_type.cartype_name as temp_parameter_carrier_car_type_cartype_name, 
    temp_parameter_carrier_car_type.status as temp_parameter_carrier_car_type_status, 
    temp_parameter_carrier_car_type.remark as temp_parameter_carrier_car_type_remark, 
    temp_parameter_carrier_car_type.creater as temp_parameter_carrier_car_type_creater, 
    temp_parameter_carrier_car_type.create_time as temp_parameter_carrier_car_type_create_time, 
    temp_parameter_carrier_car_type.updater as temp_parameter_carrier_car_type_updater, 
    temp_parameter_carrier_car_type.update_time as temp_parameter_carrier_car_type_update_time
    <!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_parameter_carrier_car_type_creater_display
    ,temp_updater.user_cn_name as temp_parameter_carrier_car_type_updater_display
  </sql>
  <sql id="Base_extend">
  	LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_parameter_carrier_car_type.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_parameter_carrier_car_type.updater <!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_parameter_carrier_car_type temp_parameter_carrier_car_type
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_parameter_carrier_car_type temp_parameter_carrier_car_type
    <include refid="Base_extend" />
    where temp_parameter_carrier_car_type.cartype_id = #{cartypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_parameter_carrier_car_type
    where cartype_id = #{cartypeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarTypeExample" >
    delete temp_parameter_carrier_car_type from t_parameter_carrier_car_type temp_parameter_carrier_car_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarType" >
    insert into t_parameter_carrier_car_type (cartype_id, cartype_name, status, 
      remark, creater, create_time, 
      updater, update_time)
    values (#{cartypeId,jdbcType=VARCHAR}, #{cartypeName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarType" >
    insert into t_parameter_carrier_car_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartypeId != null" >
        cartype_id,
      </if>
      <if test="cartypeName != null" >
        cartype_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartypeId != null" >
        #{cartypeId,jdbcType=VARCHAR},
      </if>
      <if test="cartypeName != null" >
        #{cartypeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_parameter_carrier_car_type temp_parameter_carrier_car_type
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_parameter_carrier_car_type temp_parameter_carrier_car_type
    <set >
      <if test="record.cartypeId != null" >
        temp_parameter_carrier_car_type.cartype_id = #{record.cartypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.cartypeName != null" >
        temp_parameter_carrier_car_type.cartype_name = #{record.cartypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        temp_parameter_carrier_car_type.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        temp_parameter_carrier_car_type.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_parameter_carrier_car_type.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_parameter_carrier_car_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_parameter_carrier_car_type.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_parameter_carrier_car_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_parameter_carrier_car_type temp_parameter_carrier_car_type
    set temp_parameter_carrier_car_type.cartype_id = #{record.cartypeId,jdbcType=VARCHAR},
      temp_parameter_carrier_car_type.cartype_name = #{record.cartypeName,jdbcType=VARCHAR},
      temp_parameter_carrier_car_type.status = #{record.status,jdbcType=CHAR},
      temp_parameter_carrier_car_type.remark = #{record.remark,jdbcType=VARCHAR},
      temp_parameter_carrier_car_type.creater = #{record.creater,jdbcType=VARCHAR},
      temp_parameter_carrier_car_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_parameter_carrier_car_type.updater = #{record.updater,jdbcType=VARCHAR},
      temp_parameter_carrier_car_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarType" >
    update t_parameter_carrier_car_type
    <set >
      <if test="cartypeName != null" >
        cartype_name = #{cartypeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cartype_id = #{cartypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.basicdatas.ParameterCarrierCarType" >
    update t_parameter_carrier_car_type
    set cartype_name = #{cartypeName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where cartype_id = #{cartypeId,jdbcType=VARCHAR}
  </update>
</mapper>