<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.basicdatas.ParameterOptgroupMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.basicdatas.ParameterOptgroup" >
    <id column="temp_parameter_optgroup_optgroup_id" property="optgroupId" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_pid" property="optgroupPid" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_code" property="optgroupCode" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_name" property="optgroupName" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_icon" property="optgroupIcon" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_url" property="optgroupUrl" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_optgroup_num" property="optgroupNum" jdbcType="INTEGER" />
    <result column="temp_parameter_optgroup_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_parameter_optgroup_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_parameter_optgroup_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_parameter_optgroup_Pname" property="optgroupPname" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_parameter_optgroup_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_parameter_optgroup_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_parameter_optgroup.optgroup_id as temp_parameter_optgroup_optgroup_id, temp_parameter_optgroup.optgroup_pid as temp_parameter_optgroup_optgroup_pid, 
    temp_parameter_optgroup.optgroup_code as temp_parameter_optgroup_optgroup_code, temp_parameter_optgroup.optgroup_name as temp_parameter_optgroup_optgroup_name, 
    temp_parameter_optgroup.optgroup_icon as temp_parameter_optgroup_optgroup_icon, temp_parameter_optgroup.optgroup_url as temp_parameter_optgroup_optgroup_url, 
    temp_parameter_optgroup.optgroup_num as temp_parameter_optgroup_optgroup_num, temp_parameter_optgroup.remark as temp_parameter_optgroup_remark, 
    temp_parameter_optgroup.creater as temp_parameter_optgroup_creater, temp_parameter_optgroup.create_time as temp_parameter_optgroup_create_time, 
    temp_parameter_optgroup.updater as temp_parameter_optgroup_updater, temp_parameter_optgroup.update_time as temp_parameter_optgroup_update_time
     <!-- 以下字段属于扩展 -->
    ,temp_parameter_poptgroup.optgroup_name as temp_parameter_optgroup_Pname
    ,temp_creater.user_cn_name as temp_parameter_optgroup_creater_display
    ,temp_updater.user_cn_name as temp_parameter_optgroup_updater_display
  </sql>
  <sql id="Base_extend">
  	LEFT JOIN t_parameter_optgroup temp_parameter_poptgroup ON temp_parameter_poptgroup.optgroup_id = temp_parameter_optgroup.optgroup_pid <!-- 扩展 -->
    LEFT JOIN t_user temp_creater ON temp_parameter_optgroup.creater =  temp_creater.user_id<!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_parameter_optgroup.updater =  temp_updater.user_id<!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_parameter_optgroup temp_parameter_optgroup
    <include refid="Base_extend"/>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_parameter_optgroup temp_parameter_optgroup
    <include refid="Base_extend"/>
    where temp_parameter_optgroup.optgroup_id = #{optgroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_parameter_optgroup
    where optgroup_id = #{optgroupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroupExample" >
    delete from t_parameter_optgroup temp_parameter_optgroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroup" >
    insert into t_parameter_optgroup (optgroup_id, optgroup_pid, optgroup_code, 
      optgroup_name, optgroup_icon, optgroup_url, 
      optgroup_num, remark, creater, 
      create_time, updater, update_time
      )
    values (#{optgroupId,jdbcType=VARCHAR}, #{optgroupPid,jdbcType=VARCHAR}, #{optgroupCode,jdbcType=VARCHAR}, 
      #{optgroupName,jdbcType=VARCHAR}, #{optgroupIcon,jdbcType=VARCHAR}, #{optgroupUrl,jdbcType=VARCHAR}, 
      #{optgroupNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroup" >
    insert into t_parameter_optgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optgroupId != null" >
        optgroup_id,
      </if>
      <if test="optgroupPid != null" >
        optgroup_pid,
      </if>
      <if test="optgroupCode != null" >
        optgroup_code,
      </if>
      <if test="optgroupName != null" >
        optgroup_name,
      </if>
      <if test="optgroupIcon != null" >
        optgroup_icon,
      </if>
      <if test="optgroupUrl != null" >
        optgroup_url,
      </if>
      <if test="optgroupNum != null" >
        optgroup_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optgroupId != null" >
        #{optgroupId,jdbcType=VARCHAR},
      </if>
      <if test="optgroupPid != null" >
        #{optgroupPid,jdbcType=VARCHAR},
      </if>
      <if test="optgroupCode != null" >
        #{optgroupCode,jdbcType=VARCHAR},
      </if>
      <if test="optgroupName != null" >
        #{optgroupName,jdbcType=VARCHAR},
      </if>
      <if test="optgroupIcon != null" >
        #{optgroupIcon,jdbcType=VARCHAR},
      </if>
      <if test="optgroupUrl != null" >
        #{optgroupUrl,jdbcType=VARCHAR},
      </if>
      <if test="optgroupNum != null" >
        #{optgroupNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroupExample" resultType="java.lang.Integer" >
    select count(*) from t_parameter_optgroup temp_parameter_optgroup
    <include refid="Base_extend"/>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_parameter_optgroup temp_parameter_optgroup
    <set >
      <if test="record.optgroupId != null" >
        temp_parameter_optgroup.optgroup_id = #{record.optgroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupPid != null" >
        temp_parameter_optgroup.optgroup_pid = #{record.optgroupPid,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupCode != null" >
        temp_parameter_optgroup.optgroup_code = #{record.optgroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupName != null" >
        temp_parameter_optgroup.optgroup_name = #{record.optgroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupIcon != null" >
        temp_parameter_optgroup.optgroup_icon = #{record.optgroupIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupUrl != null" >
        temp_parameter_optgroup.optgroup_url = #{record.optgroupUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.optgroupNum != null" >
        temp_parameter_optgroup.optgroup_num = #{record.optgroupNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        temp_parameter_optgroup.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_parameter_optgroup.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_parameter_optgroup.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_parameter_optgroup.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_parameter_optgroup.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_parameter_optgroup temp_parameter_optgroup
    set temp_parameter_optgroup.optgroup_id = #{record.optgroupId,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_pid = #{record.optgroupPid,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_code = #{record.optgroupCode,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_name = #{record.optgroupName,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_icon = #{record.optgroupIcon,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_url = #{record.optgroupUrl,jdbcType=VARCHAR},
      temp_parameter_optgroup.optgroup_num = #{record.optgroupNum,jdbcType=INTEGER},
      temp_parameter_optgroup.remark = #{record.remark,jdbcType=VARCHAR},
      temp_parameter_optgroup.creater = #{record.creater,jdbcType=VARCHAR},
      temp_parameter_optgroup.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_parameter_optgroup.updater = #{record.updater,jdbcType=VARCHAR},
      temp_parameter_optgroup.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroup" >
    update t_parameter_optgroup
    <set >
      <if test="optgroupPid != null" >
        optgroup_pid = #{optgroupPid,jdbcType=VARCHAR},
      </if>
      <if test="optgroupCode != null" >
        optgroup_code = #{optgroupCode,jdbcType=VARCHAR},
      </if>
      <if test="optgroupName != null" >
        optgroup_name = #{optgroupName,jdbcType=VARCHAR},
      </if>
      <if test="optgroupIcon != null" >
        optgroup_icon = #{optgroupIcon,jdbcType=VARCHAR},
      </if>
      <if test="optgroupUrl != null" >
        optgroup_url = #{optgroupUrl,jdbcType=VARCHAR},
      </if>
      <if test="optgroupNum != null" >
        optgroup_num = #{optgroupNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where optgroup_id = #{optgroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.basicdatas.ParameterOptgroup" >
    update t_parameter_optgroup
    set optgroup_pid = #{optgroupPid,jdbcType=VARCHAR},
      optgroup_code = #{optgroupCode,jdbcType=VARCHAR},
      optgroup_name = #{optgroupName,jdbcType=VARCHAR},
      optgroup_icon = #{optgroupIcon,jdbcType=VARCHAR},
      optgroup_url = #{optgroupUrl,jdbcType=VARCHAR},
      optgroup_num = #{optgroupNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where optgroup_id = #{optgroupId,jdbcType=VARCHAR}
  </update>
</mapper>