<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.basicdatas.ParCreditGradeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.basicdatas.ParCreditGrade" >
    <id column="temp_par_credit_grade_credit_id" property="creditId" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_code" property="code" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_credit_name" property="creditName" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_credit_begin_integral" property="creditBeginIntegral" jdbcType="INTEGER" />
    <result column="temp_par_credit_grade_credit_end_integral" property="creditEndIntegral" jdbcType="INTEGER" />
    <result column="temp_par_credit_grade_credit_photo" property="creditPhoto" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_sequenced" property="sequenced" jdbcType="INTEGER" />
    <result column="temp_par_credit_grade_enabled" property="enabled" jdbcType="CHAR" />
    <result column="temp_par_credit_grade_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_par_credit_grade_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_par_credit_grade_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_par_credit_grade.credit_id as temp_par_credit_grade_credit_id, temp_par_credit_grade.code as temp_par_credit_grade_code, 
    temp_par_credit_grade.credit_name as temp_par_credit_grade_credit_name, temp_par_credit_grade.credit_begin_integral as temp_par_credit_grade_credit_begin_integral, 
    temp_par_credit_grade.credit_end_integral as temp_par_credit_grade_credit_end_integral, 
    temp_par_credit_grade.credit_photo as temp_par_credit_grade_credit_photo, temp_par_credit_grade.sequenced as temp_par_credit_grade_sequenced, 
    temp_par_credit_grade.enabled as temp_par_credit_grade_enabled, temp_par_credit_grade.remark as temp_par_credit_grade_remark, 
    temp_par_credit_grade.creater as temp_par_credit_grade_creater, temp_par_credit_grade.create_time as temp_par_credit_grade_create_time, 
    temp_par_credit_grade.updater as temp_par_credit_grade_updater, temp_par_credit_grade.update_time as temp_par_credit_grade_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGradeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_par_credit_grade temp_par_credit_grade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_par_credit_grade temp_par_credit_grade
    where temp_par_credit_grade.credit_id = #{creditId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_par_credit_grade
    where credit_id = #{creditId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGradeExample" >
    delete temp_par_credit_grade from t_par_credit_grade temp_par_credit_grade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGrade" >
    insert into t_par_credit_grade (credit_id, code, credit_name, 
      credit_begin_integral, credit_end_integral, 
      credit_photo, sequenced, enabled, 
      remark, creater, create_time, 
      updater, update_time)
    values (#{creditId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{creditName,jdbcType=VARCHAR}, 
      #{creditBeginIntegral,jdbcType=INTEGER}, #{creditEndIntegral,jdbcType=INTEGER}, 
      #{creditPhoto,jdbcType=VARCHAR}, #{sequenced,jdbcType=INTEGER}, #{enabled,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGrade" >
    insert into t_par_credit_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creditId != null" >
        credit_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="creditName != null" >
        credit_name,
      </if>
      <if test="creditBeginIntegral != null" >
        credit_begin_integral,
      </if>
      <if test="creditEndIntegral != null" >
        credit_end_integral,
      </if>
      <if test="creditPhoto != null" >
        credit_photo,
      </if>
      <if test="sequenced != null" >
        sequenced,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creditId != null" >
        #{creditId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="creditName != null" >
        #{creditName,jdbcType=VARCHAR},
      </if>
      <if test="creditBeginIntegral != null" >
        #{creditBeginIntegral,jdbcType=INTEGER},
      </if>
      <if test="creditEndIntegral != null" >
        #{creditEndIntegral,jdbcType=INTEGER},
      </if>
      <if test="creditPhoto != null" >
        #{creditPhoto,jdbcType=VARCHAR},
      </if>
      <if test="sequenced != null" >
        #{sequenced,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGradeExample" resultType="java.lang.Integer" >
    select count(*) from t_par_credit_grade temp_par_credit_grade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_par_credit_grade temp_par_credit_grade
    <set >
      <if test="record.creditId != null" >
        temp_par_credit_grade.credit_id = #{record.creditId,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        temp_par_credit_grade.code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.creditName != null" >
        temp_par_credit_grade.credit_name = #{record.creditName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditBeginIntegral != null" >
        temp_par_credit_grade.credit_begin_integral = #{record.creditBeginIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.creditEndIntegral != null" >
        temp_par_credit_grade.credit_end_integral = #{record.creditEndIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.creditPhoto != null" >
        temp_par_credit_grade.credit_photo = #{record.creditPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenced != null" >
        temp_par_credit_grade.sequenced = #{record.sequenced,jdbcType=INTEGER},
      </if>
      <if test="record.enabled != null" >
        temp_par_credit_grade.enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        temp_par_credit_grade.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_par_credit_grade.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_par_credit_grade.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_par_credit_grade.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_par_credit_grade.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_par_credit_grade temp_par_credit_grade
    set temp_par_credit_grade.credit_id = #{record.creditId,jdbcType=VARCHAR},
      temp_par_credit_grade.code = #{record.code,jdbcType=VARCHAR},
      temp_par_credit_grade.credit_name = #{record.creditName,jdbcType=VARCHAR},
      temp_par_credit_grade.credit_begin_integral = #{record.creditBeginIntegral,jdbcType=INTEGER},
      temp_par_credit_grade.credit_end_integral = #{record.creditEndIntegral,jdbcType=INTEGER},
      temp_par_credit_grade.credit_photo = #{record.creditPhoto,jdbcType=VARCHAR},
      temp_par_credit_grade.sequenced = #{record.sequenced,jdbcType=INTEGER},
      temp_par_credit_grade.enabled = #{record.enabled,jdbcType=CHAR},
      temp_par_credit_grade.remark = #{record.remark,jdbcType=VARCHAR},
      temp_par_credit_grade.creater = #{record.creater,jdbcType=VARCHAR},
      temp_par_credit_grade.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_par_credit_grade.updater = #{record.updater,jdbcType=VARCHAR},
      temp_par_credit_grade.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGrade" >
    update t_par_credit_grade
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="creditName != null" >
        credit_name = #{creditName,jdbcType=VARCHAR},
      </if>
      <if test="creditBeginIntegral != null" >
        credit_begin_integral = #{creditBeginIntegral,jdbcType=INTEGER},
      </if>
      <if test="creditEndIntegral != null" >
        credit_end_integral = #{creditEndIntegral,jdbcType=INTEGER},
      </if>
      <if test="creditPhoto != null" >
        credit_photo = #{creditPhoto,jdbcType=VARCHAR},
      </if>
      <if test="sequenced != null" >
        sequenced = #{sequenced,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where credit_id = #{creditId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.basicdatas.ParCreditGrade" >
    update t_par_credit_grade
    set code = #{code,jdbcType=VARCHAR},
      credit_name = #{creditName,jdbcType=VARCHAR},
      credit_begin_integral = #{creditBeginIntegral,jdbcType=INTEGER},
      credit_end_integral = #{creditEndIntegral,jdbcType=INTEGER},
      credit_photo = #{creditPhoto,jdbcType=VARCHAR},
      sequenced = #{sequenced,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where credit_id = #{creditId,jdbcType=VARCHAR}
  </update>
</mapper>