<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.basicdatas.ParWarDeployTypeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.basicdatas.ParWarDeployType" >
    <id column="temp_par_war_deploy_type_deploy_type_id" property="deployTypeId" jdbcType="VARCHAR" />
    <result column="temp_par_war_deploy_type_order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="temp_par_war_deploy_type_deploy_type_state" property="deployTypeState" jdbcType="CHAR" />
    <result column="temp_par_war_deploy_type_deploy_type_name" property="deployTypeName" jdbcType="VARCHAR" />
    <result column="temp_par_war_deploy_type_enabled" property="enabled" jdbcType="CHAR" />
    <result column="temp_par_war_deploy_type_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_par_war_deploy_type_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_par_war_deploy_type_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_par_war_deploy_type_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_par_war_deploy_type.deploy_type_id as temp_par_war_deploy_type_deploy_type_id, 
    temp_par_war_deploy_type.order_num as temp_par_war_deploy_type_order_num, temp_par_war_deploy_type.deploy_type_state as temp_par_war_deploy_type_deploy_type_state, 
    temp_par_war_deploy_type.deploy_type_name as temp_par_war_deploy_type_deploy_type_name, 
    temp_par_war_deploy_type.enabled as temp_par_war_deploy_type_enabled, temp_par_war_deploy_type.creater as temp_par_war_deploy_type_creater, 
    temp_par_war_deploy_type.create_time as temp_par_war_deploy_type_create_time, temp_par_war_deploy_type.updater as temp_par_war_deploy_type_updater, 
    temp_par_war_deploy_type.update_time as temp_par_war_deploy_type_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_par_war_deploy_type temp_par_war_deploy_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_par_war_deploy_type temp_par_war_deploy_type
    where temp_par_war_deploy_type.deploy_type_id = #{deployTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_par_war_deploy_type
    where deploy_type_id = #{deployTypeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployTypeExample" >
    delete from t_par_war_deploy_type temp_par_war_deploy_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployType" >
    insert into t_par_war_deploy_type (deploy_type_id, order_num, deploy_type_state, 
      deploy_type_name, enabled, creater, 
      create_time, updater, update_time
      )
    values (#{deployTypeId,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{deployTypeState,jdbcType=CHAR}, 
      #{deployTypeName,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployType" >
    insert into t_par_war_deploy_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deployTypeId != null" >
        deploy_type_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="deployTypeState != null" >
        deploy_type_state,
      </if>
      <if test="deployTypeName != null" >
        deploy_type_name,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deployTypeId != null" >
        #{deployTypeId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="deployTypeState != null" >
        #{deployTypeState,jdbcType=CHAR},
      </if>
      <if test="deployTypeName != null" >
        #{deployTypeName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_par_war_deploy_type temp_par_war_deploy_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_par_war_deploy_type temp_par_war_deploy_type
    <set >
      <if test="record.deployTypeId != null" >
        temp_par_war_deploy_type.deploy_type_id = #{record.deployTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        temp_par_war_deploy_type.order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.deployTypeState != null" >
        temp_par_war_deploy_type.deploy_type_state = #{record.deployTypeState,jdbcType=CHAR},
      </if>
      <if test="record.deployTypeName != null" >
        temp_par_war_deploy_type.deploy_type_name = #{record.deployTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        temp_par_war_deploy_type.enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.creater != null" >
        temp_par_war_deploy_type.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_par_war_deploy_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_par_war_deploy_type.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_par_war_deploy_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_par_war_deploy_type temp_par_war_deploy_type
    set temp_par_war_deploy_type.deploy_type_id = #{record.deployTypeId,jdbcType=VARCHAR},
      temp_par_war_deploy_type.order_num = #{record.orderNum,jdbcType=INTEGER},
      temp_par_war_deploy_type.deploy_type_state = #{record.deployTypeState,jdbcType=CHAR},
      temp_par_war_deploy_type.deploy_type_name = #{record.deployTypeName,jdbcType=VARCHAR},
      temp_par_war_deploy_type.enabled = #{record.enabled,jdbcType=CHAR},
      temp_par_war_deploy_type.creater = #{record.creater,jdbcType=VARCHAR},
      temp_par_war_deploy_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_par_war_deploy_type.updater = #{record.updater,jdbcType=VARCHAR},
      temp_par_war_deploy_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployType" >
    update t_par_war_deploy_type
    <set >
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="deployTypeState != null" >
        deploy_type_state = #{deployTypeState,jdbcType=CHAR},
      </if>
      <if test="deployTypeName != null" >
        deploy_type_name = #{deployTypeName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where deploy_type_id = #{deployTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.basicdatas.ParWarDeployType" >
    update t_par_war_deploy_type
    set order_num = #{orderNum,jdbcType=INTEGER},
      deploy_type_state = #{deployTypeState,jdbcType=CHAR},
      deploy_type_name = #{deployTypeName,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where deploy_type_id = #{deployTypeId,jdbcType=VARCHAR}
  </update>
</mapper>