<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.purchase.PurchaseRequisitionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.purchase.PurchaseRequisitionDetail" >
    <id column="temp_purchase_requisition_detail_pur_req_det_id" property="purReqDetId" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_pur_req_id" property="purReqId" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_goods_model" property="goodsModel" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_brand" property="brand" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_place_of_origin" property="placeOfOrigin" jdbcType="VARCHAR" />
    <result column="temp_purchase_requisition_detail_inquiry" property="inquiry" jdbcType="CHAR" />
    <result column="temp_purchase_requisition_detail_price" property="price" jdbcType="DECIMAL" />
    <result column="temp_purchase_requisition_detail_quantity" property="quantity" jdbcType="INTEGER" />
    <result column="temp_purchase_requisition_detail_money" property="money" jdbcType="DECIMAL" />
    <result column="temp_purchase_requisition_detail_deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="temp_purchase_requisition_detail_not_order_num" property="notOrderNum" jdbcType="INTEGER" />
    <result column="temp_purchase_requisition_detail_alr_order_num" property="alrOrderNum" jdbcType="INTEGER" />
    <result column="temp_purchase_requisition_detail_remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_purchase_requisition_detail.pur_req_det_id as temp_purchase_requisition_detail_pur_req_det_id, 
    temp_purchase_requisition_detail.pur_req_id as temp_purchase_requisition_detail_pur_req_id, 
    temp_purchase_requisition_detail.goods_id as temp_purchase_requisition_detail_goods_id, 
    temp_purchase_requisition_detail.goods_code as temp_purchase_requisition_detail_goods_code, 
    temp_purchase_requisition_detail.goods_name as temp_purchase_requisition_detail_goods_name, 
    temp_purchase_requisition_detail.goods_model as temp_purchase_requisition_detail_goods_model, 
    temp_purchase_requisition_detail.goods_unit as temp_purchase_requisition_detail_goods_unit, 
    temp_purchase_requisition_detail.brand as temp_purchase_requisition_detail_brand, 
    temp_purchase_requisition_detail.place_of_origin as temp_purchase_requisition_detail_place_of_origin, 
    temp_purchase_requisition_detail.inquiry as temp_purchase_requisition_detail_inquiry, 
    temp_purchase_requisition_detail.price as temp_purchase_requisition_detail_price, 
    temp_purchase_requisition_detail.quantity as temp_purchase_requisition_detail_quantity, 
    temp_purchase_requisition_detail.money as temp_purchase_requisition_detail_money, 
    temp_purchase_requisition_detail.deadline as temp_purchase_requisition_detail_deadline, 
    temp_purchase_requisition_detail.not_order_num as temp_purchase_requisition_detail_not_order_num, 
    temp_purchase_requisition_detail.alr_order_num as temp_purchase_requisition_detail_alr_order_num, 
    temp_purchase_requisition_detail.remark as temp_purchase_requisition_detail_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_purchase_requisition_detail temp_purchase_requisition_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_purchase_requisition_detail temp_purchase_requisition_detail
    where temp_purchase_requisition_detail.pur_req_det_id = #{purReqDetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_purchase_requisition_detail
    where pur_req_det_id = #{purReqDetId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetailExample" >
    delete temp_purchase_requisition_detail from t_purchase_requisition_detail temp_purchase_requisition_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetail" >
    insert into t_purchase_requisition_detail (pur_req_det_id, pur_req_id, goods_id, 
      goods_code, goods_name, goods_model, 
      goods_unit, brand, place_of_origin, 
      inquiry, price, quantity, 
      money, deadline, not_order_num, 
      alr_order_num, remark)
    values (#{purReqDetId,jdbcType=VARCHAR}, #{purReqId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsModel,jdbcType=VARCHAR}, 
      #{goodsUnit,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{placeOfOrigin,jdbcType=VARCHAR}, 
      #{inquiry,jdbcType=CHAR}, #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{deadline,jdbcType=TIMESTAMP}, #{notOrderNum,jdbcType=INTEGER}, 
      #{alrOrderNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetail" >
    insert into t_purchase_requisition_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purReqDetId != null" >
        pur_req_det_id,
      </if>
      <if test="purReqId != null" >
        pur_req_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsModel != null" >
        goods_model,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="placeOfOrigin != null" >
        place_of_origin,
      </if>
      <if test="inquiry != null" >
        inquiry,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="notOrderNum != null" >
        not_order_num,
      </if>
      <if test="alrOrderNum != null" >
        alr_order_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purReqDetId != null" >
        #{purReqDetId,jdbcType=VARCHAR},
      </if>
      <if test="purReqId != null" >
        #{purReqId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsModel != null" >
        #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null" >
        #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="inquiry != null" >
        #{inquiry,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="notOrderNum != null" >
        #{notOrderNum,jdbcType=INTEGER},
      </if>
      <if test="alrOrderNum != null" >
        #{alrOrderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetailExample" resultType="java.lang.Integer" >
    select count(*) from t_purchase_requisition_detail temp_purchase_requisition_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_purchase_requisition_detail temp_purchase_requisition_detail
    <set >
      <if test="record.purReqDetId != null" >
        temp_purchase_requisition_detail.pur_req_det_id = #{record.purReqDetId,jdbcType=VARCHAR},
      </if>
      <if test="record.purReqId != null" >
        temp_purchase_requisition_detail.pur_req_id = #{record.purReqId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null" >
        temp_purchase_requisition_detail.goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null" >
        temp_purchase_requisition_detail.goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        temp_purchase_requisition_detail.goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsModel != null" >
        temp_purchase_requisition_detail.goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsUnit != null" >
        temp_purchase_requisition_detail.goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        temp_purchase_requisition_detail.brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.placeOfOrigin != null" >
        temp_purchase_requisition_detail.place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="record.inquiry != null" >
        temp_purchase_requisition_detail.inquiry = #{record.inquiry,jdbcType=CHAR},
      </if>
      <if test="record.price != null" >
        temp_purchase_requisition_detail.price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        temp_purchase_requisition_detail.quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        temp_purchase_requisition_detail.money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.deadline != null" >
        temp_purchase_requisition_detail.deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.notOrderNum != null" >
        temp_purchase_requisition_detail.not_order_num = #{record.notOrderNum,jdbcType=INTEGER},
      </if>
      <if test="record.alrOrderNum != null" >
        temp_purchase_requisition_detail.alr_order_num = #{record.alrOrderNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        temp_purchase_requisition_detail.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_purchase_requisition_detail temp_purchase_requisition_detail
    set temp_purchase_requisition_detail.pur_req_det_id = #{record.purReqDetId,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.pur_req_id = #{record.purReqId,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.goods_id = #{record.goodsId,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.goods_name = #{record.goodsName,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.goods_model = #{record.goodsModel,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.brand = #{record.brand,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      temp_purchase_requisition_detail.inquiry = #{record.inquiry,jdbcType=CHAR},
      temp_purchase_requisition_detail.price = #{record.price,jdbcType=DECIMAL},
      temp_purchase_requisition_detail.quantity = #{record.quantity,jdbcType=INTEGER},
      temp_purchase_requisition_detail.money = #{record.money,jdbcType=DECIMAL},
      temp_purchase_requisition_detail.deadline = #{record.deadline,jdbcType=TIMESTAMP},
      temp_purchase_requisition_detail.not_order_num = #{record.notOrderNum,jdbcType=INTEGER},
      temp_purchase_requisition_detail.alr_order_num = #{record.alrOrderNum,jdbcType=INTEGER},
      temp_purchase_requisition_detail.remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetail" >
    update t_purchase_requisition_detail
    <set >
      <if test="purReqId != null" >
        pur_req_id = #{purReqId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsModel != null" >
        goods_model = #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null" >
        place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="inquiry != null" >
        inquiry = #{inquiry,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="notOrderNum != null" >
        not_order_num = #{notOrderNum,jdbcType=INTEGER},
      </if>
      <if test="alrOrderNum != null" >
        alr_order_num = #{alrOrderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where pur_req_det_id = #{purReqDetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.purchase.PurchaseRequisitionDetail" >
    update t_purchase_requisition_detail
    set pur_req_id = #{purReqId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_model = #{goodsModel,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      inquiry = #{inquiry,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      not_order_num = #{notOrderNum,jdbcType=INTEGER},
      alr_order_num = #{alrOrderNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where pur_req_det_id = #{purReqDetId,jdbcType=VARCHAR}
  </update>
</mapper>